body {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-weight: 700;
}
.header {
  padding: 2rem 0;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .navbar {
  padding: 0;
}
.header .navbar-brand {
  padding: 0 1rem;
  font-weight: 600;
  color: #000;
}
.main {
  position: relative;
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.main h1 {
  font-weight: 700;
  font-size: 42px;
}
.main p {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 1.5rem 0;
}
.main .btn {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  background: #468A39;
  -webkit-box-shadow: 0px 14px 60px rgba(70, 138, 57, 0.3);
          box-shadow: 0px 14px 60px rgba(70, 138, 57, 0.3);
  border-radius: 15px;
}
h2 {
  font-size: 40px;
}
.services {
  padding: 65px 0;
  background-color: #F1F6F0;
}
.services h2 {
  margin-bottom: 3rem;
}
.services h3 {
  font-weight: 500;
  margin: 1.5rem 0;
}
.services p {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}
.about {
  padding: 8rem 0;
  background-color: #468A39;
  position: relative;
}
.about h2 {
  margin-bottom: 1rem;
  color: #fff;
  opacity: 0.95;
}
.about-text {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  padding: 1.5rem 0;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 45px;
  color: #FFFFFF;
  opacity: 0.7;
}
.numbers {
  margin: 0 auto;
  padding: 3rem ;
  padding-left: 5rem;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  bottom: -15%;
  width: 70rem;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.numbers-item {
  border-left: 2px solid #468A39;
  height: 57px;
  padding-bottom: 4rem;
}
.numbers-item p {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-size: 16px;
  line-height: 26px;
  font-size: 15px;
}
.works {
  padding-bottom: 5rem;
}
.works-block h3,
.works-block p {
  margin-left: 2.4rem;
}
.works-block h3 {
  font-size: 28px;
  grid-template: 700px;
  margin-bottom: 1.7rem;
}
.works-block p {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 32px;
  width: 25rem;
  padding-bottom: 2rem;
}
.works-block--2 {
  margin-top: -5rem;
}
.works img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.works h2 {
  margin-top: 9rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: inline-block;
}
.contacts {
  padding-bottom: 3rem;
}
.contacts-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 5rem;
}
.contacts-block {
  position: relative;
  min-height: 10rem;
  text-align: center;
  margin-bottom: 5rem;
}
.contacts-block img {
  width: 3rem;
}
.contacts-block h4 {
  margin: 1rem 0;
}
.contacts-block p {
  font-size: 20px;
  color: #000;
  opacity: 0.6;
  margin-bottom: 5rem;
}
.contacts-block button {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1.2rem;
  border: none;
  background-color: #468A39;
  border-radius: 51px;
  text-decoration: none;
  color: #fff;
}
.footer {
  background-color: #0B0D17;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-logo h5 {
  color: #fff;
  opacity: 1;
}
.footer-dev p {
  color: #fff;
  opacity: 1;
  text-align: center;
}
.footer-icons img {
  margin: 0 0.5rem;
}
@media (max-width: 1200px) {
  .services-block {
    padding: 2rem 0;
  }
  .services-block p {
    width: 91%;
  }
  .services-block img {
    width: 250px;
  }
  .about-text {
    padding-bottom: 3rem;
  }
  .works h2 {
    margin-top: 15rem;
  }
  .numbers {
    left: 47%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -14%;
    width: 55rem;
    padding-left: 4rem;
  }
  .numbers-item {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 991px) {
  body {
    text-align: center;
  }
  .nav {
    display: none;
  }
  .main {
    text-align: center;
  }
  .main h1 {
    font-size: 36px;
    line-height: 1.5;
  }
  .main img {
    margin: 1.5rem 0;
  }
  .main .btn {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .services-block {
    padding: 2rem;
  }
  .services-block img {
    width: 329px;
  }
  .services p {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  .about {
    height: 65rem;
  }
  .about-text {
    text-align: left;
    padding-bottom: 6rem;
  }
  .numbers {
    position: absolute;
    bottom: 7%;
    left: 50%;
    padding: 2rem;
    width: 21rem;
  }
  .numbers-item {
    border-left: none;
  }
  .numbers-item p {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #468A39;
  }
  .works h2 {
    margin-left: 0;
    margin-top: 5rem;
  }
  .works-block--2 {
    margin-top: 0;
  }
  .works-block {
    text-align: center;
    margin: 0 auto;
  }
  .works-block h3,
  .works-block p {
    text-align: left;
    padding-left: 20%;
  }
  .works-block p {
    width: 70%;
  }
  .contacts-block p {
    min-height: 0;
    margin-bottom: 3rem;
  }
  .contacts-block button {
    bottom: -15%;
  }
  .footer-item {
    display: inline-block;
  }
  .footer-dev p {
    padding: 1rem 0;
  }
}
@media (max-width: 772px) {
  .main img {
    display: none;
  }
  .main .btn {
    bottom: -60px;
  }
  .services p {
    width: auto;
  }
  .about {
    height: 72rem;
  }
  .about-text {
    padding: 1rem;
  }
  .numbers {
    bottom: 5%;
  }
  .works-block h3,
  .works-block p {
    text-align: left;
    padding-left: 10%;
  }
  .works-block p {
    width: 80%;
  }
  .works img {
    width: 300px;
  }
}
@media (max-width: 470px) {
  .about {
    height: 78rem;
  }
  .about-text {
    padding: 1rem;
  }
  .numbers {
    width: 20rem;
    bottom: 5%;
  }
  .works-block h3,
  .works-block p {
    padding-left: 0;
  }
}
@media (max-width: 447px) {
  .about {
    height: 85rem;
  }
  .about-text {
    padding: 1rem;
    width: 100%;
  }
  .numbers {
    bottom: 8%;
  }
}
@media (max-width: 400px) {
  .services-block img {
    width: 260px;
  }
  .about {
    height: 93rem;
  }
  .about-text {
    padding: 2rem;
    text-align: center;
  }
  .numbers {
    bottom: 5%;
  }
}
@media (max-width: 380px) {
  .about {
    height: 98rem;
  }
  .about-text {
    padding: 1rem;
  }
  .numbers {
    width: 18rem;
    bottom: 3%;
  }
  .works img {
    width: 280px;
  }
}
