body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
header {
  padding: 1.5rem;
  background-color: #F2F2F2;
  width: 100%;
  height: 9rem;
  margin-bottom: 2rem;
}
.header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-inner img {
  margin-right: 2rem;
}
.header-inner h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #464647;
  line-height: 1.4;
}
.number {
  position: absolute;
  top: -5.5rem;
}
.number p {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-left: 1rem;
}
.number-phone {
  font-size: 2rem;
  font-weight: 700;
}
.main-block {
  display: inline-block;
  margin-right: 3.8rem;
}
.main-block img {
  display: block;
  margin: 0 auto;
}
.main-text {
  margin-top: 2rem;
}
.main-text h5 {
  font-weight: 700;
}
.main .work {
  margin-top: 4rem;
}
.main .work-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.main .work-text {
  float: right;
  width: 60%;
  font-weight: 600;
  font-size: 1.3rem;
}
.services {
  padding: 3rem 0;
  margin-top: 3rem;
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
}
.services-title {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
.services-block {
  margin-bottom: 3rem;
}
.services-block img {
  border-radius: 10em;
}
.services-block h3 {
  margin: 0 auto;
}
.services-blocks {
  padding: 3rem;
  background-color: #fff;
}
.services-text {
  float: right;
  width: 80%;
  font-weight: 600;
  font-size: 1.2rem;
}
@media (max-width: 1199px) {
  .number-phone {
    font-size: 1.6rem;
  }
  .main-block {
    margin-right: 0.9rem;
  }
  .main .work-text {
    width: 52%;
    font-size: 1.2rem;
  }
  .services-block {
    margin-bottom: 6rem;
  }
  .services-text {
    width: 76%;
  }
}
@media (max-width: 991px) {
  header {
    height: 12rem;
  }
  .header-inner h1 {
    font-size: 1.7rem;
  }
  .number {
    top: 0.8rem;
    text-align: center;
  }
  .main-blocks {
    margin-left: 6rem;
  }
  .main-block {
    margin-bottom: 3rem;
    margin-right: 4.9rem;
  }
  .main .work {
    margin-bottom: 10rem;
  }
  .main .work-text {
    position: absolute;
    right: 0;
    font-size: 1.1rem;
    width: 40%;
    float: none;
  }
  .services-blocks {
    padding-bottom: 22rem;
  }
  .services-block img {
    display: block;
    margin: 0 auto;
  }
  .services-text {
    width: 91%;
    font-size: 1.2rem;
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  header {
    height: 15rem;
  }
  .main-blocks {
    display: block;
    text-align: center;
    margin-right: 4rem;
  }
  .main-text {
    margin-top: 1rem;
  }
  .main-text h5 {
    text-align: center;
  }
  .main .work {
    position: relative;
  }
  .main .work-img {
    text-align: center;
  }
  .main .work-text {
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .services {
    margin-top: 32rem;
  }
  .services-blocks {
    padding-bottom: 37rem;
  }
}
@media (max-width: 575px) {
  header {
    height: 16rem;
  }
  .main-blocks {
    margin-right: 1rem;
  }
  .main .work {
    margin-top: 0;
  }
  .main .work-text {
    font-weight: 700;
    font-size: 1.2rem;
    width: 62%;
  }
  .services {
    margin-top: 36rem;
  }
  .services-blocks {
    padding-bottom: 34rem;
  }
}
@media (max-width: 482px) {
  header {
    height: 17rem;
  }
  .services {
    margin-top: 41rem;
  }
  .services-blocks {
    padding-bottom: 45rem;
  }
  .services-text {
    padding-left: 0;
    padding-right: 0;
    width: 20em;
  }
}
@media (max-width: 410px) {
  header {
    height: 17rem;
  }
  .header-inner h1 {
    font-size: 1.3rem;
  }
  .main-blocks {
    margin-right: 0;
  }
  .services {
    margin-top: 48rem;
  }
  .services-text {
    padding-left: 0;
    padding-right: 0;
    width: 15em;
  }
  .work-text {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .services {
    margin-top: 65rem;
  }
  .services-blocks {
    padding-bottom: 50rem;
  }
  .services-text {
    padding-left: 0;
    padding-right: 0;
    width: 11em;
  }
}
