body {
	font-family: 'Montserrat', sans-serif;
}

.man() {
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
}


 h2 {
 	font-weight: 700;
 }
.header {
	padding: 2rem 0;
	&-inner {
		display: flex;
		justify-content: space-between;
	}
	.navbar {
		padding: 0;
		&-brand {
			padding: 0 1rem;
			font-weight: 600;
			color: #000;
		} 
	}	
}
.main {
	position: relative;
	padding: 5rem 0;
	margin-bottom: 5rem;
	h1 {
		font-weight: 700;
		font-size: 42px;

	}
	&-text {

	}
	p {
		.man();
		font-weight: 400;

		padding: 1.5rem 0;
	}
	.btn {

		font-size: 1.3rem;
		padding: 1rem 2rem;
		background: #468A39;
		box-shadow: 0px 14px 60px rgba(70, 138, 57, 0.3);
		border-radius: 15px;
	}
	img {
		
	}
}
.modal {
	position: absolute;
	top: 10%;
	&-content {
		border-radius: 25px;
		
	}
}
.close {
	position: absolute;
	right: -10%;
}
.form {
	text-align: center;
	&-img {
		padding-top: 3rem;
	}
	&-content {
		display: flex;
		padding: 2rem 0;

	}
	&-title {
		font-weight: 800;
		font-size: 29px;
		text-align: center;
	}

	&-send {
		text-align: center;
		p {

			font-weight: 400;
			font-size: 14px;
			font-style: normal;
		}
	}
	input {
		width: 363px;
		background: #F5F5F5;
		font-weight: 400;
		font-size: 16px;
		padding: 15px 20px;
   		margin: 10px 0;
    	box-sizing: border-box;
    	border: none;
    	border-radius: 12px;
    	color: #000;
	}
	button {
		width: 363px;
		margin-top: 10px;
		margin-bottom: 13px;
		margin-left: 1.5rem;
		text-transform: uppercase;
		background: #468A39;
    	border: none;
    	border-radius: 12px;
		font-size: 12px;
		font-weight: 700;
		color: #fff;
		padding: 22px 22px;
		img {
			float: right;
		}
	}
}




h2{
	font-size: 40px;
}


.services{
	padding: 65px 0;
	background-color: #F1F6F0;
	h2{
		margin-bottom: 3rem;
	}
	h3{
		font-weight: 500;	
		margin: 1.5rem 0;
	}
	p{
		.man();
		font-weight: 400;
		color: #000000;
		opacity: 0.6;
	}

}
.about{
	padding: 8rem 0;
	background-color: #468A39;
	position: relative;
	h2{
		margin-bottom: 1rem;	
		color:#fff;
		opacity:0.95;
	}
	&-text{
		
		.man();
		padding: 1.5rem 0;
		
		font-style: normal;
		font-weight: 300;
		font-size: 26px;
		line-height: 45px;
		color: #FFFFFF;
		opacity: 0.7;
	}

}

.numbers{
	margin: 0 auto;
	padding: 3rem ;
	padding-left: 5rem;
	border-radius: 15px;
	background: #fff;
	position: absolute;
	bottom: -15%;
	width: 70rem;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);


	&-item{
		border-left: 2px solid #468A39;
		height: 57px;
		padding-bottom: 4rem;
		
		p {
			.man();
			font-size: 16px;
			line-height: 26px;
			font-size: 14px;

		}

	}


}

.works {
	padding-bottom: 5rem;
	&-block {
		h3,p{
			margin-left: 2.4rem;
		}

		h3 {
			font-size: 28px;
			grid-template: 700px;
			margin-bottom: 1.7rem;
		}
		p {
			.man();
			line-height: 32px;
			width: 25rem;
			padding-bottom: 2rem;
		}
	}
	&-block--2 {
		margin-top: -5rem;
	}
		img {
			width: 400px;
			height: 400px;
			object-fit: cover; 
		}

	h2 {
	margin-top: 9rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	display: inline-block;
	}

	
}
.contacts{
	padding-bottom: 3rem;
	&-title{
		font-size: 40px;
		text-align: center;
		margin-bottom: 5rem;
	}
	&-block{
		position: relative;
		min-height: 10rem;
		text-align: center;
		margin-bottom: 5rem;
		img {
			width: 3rem;
		}
		h4{
			margin: 1rem 0;
		}
		p{
			font-size: 20px;
			color:#000;
			opacity:0.6;
			margin-bottom: 5rem;
		}
		button{
			.man();
			position: absolute;
			bottom: -5%;
			left: 50%;
			transform: translateX(-50%);

			font-weight: 600;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			padding: 1rem 1.2rem;
			border:none;
			background-color: #468A39;
			border-radius: 51px;
			text-decoration: none;
			color: #fff;
		}
	}
}
.footer {
	background-color: #0B0D17;
	padding-top: 2rem;
	padding-bottom: 1rem;
	&-item {
		display: flex;
		justify-content: space-between;
	}
	&-logo {
		h5{
			color:#fff;
			opacity:1;
		}
	}
	&-dev {
		p{
			color:#fff;
			opacity:1;
			text-align: center;
		}
	}
	&-icons{
		img{
			margin: 0 0.5rem;
		}
	}
}

@media (max-width: 1200px) {
	.main {
		img {
			
		}
	}
	.services {
		&-block {
			padding: 2rem 0;
			p {
				width: 91%;
			}
			img {
				width: 250px;
			}
		}
	}
	.about {
		&-text {
			padding-bottom: 3rem;
		}
	}
	.works {
		h2 {
			margin-top: 15rem;
		}
	}
	.numbers {
		left: 47%;
		transform: translateX(-50%);
		bottom: -14%;
		width: 55rem;

		padding-left: 4rem;
		&-item {
			margin-bottom: 1.5rem;

		}
	}
}

@media (max-width: 991px) {
	body {
		text-align: center;
	}
	.header {
		&-logo {
			text-align: center;
		}
		&-inner {
			display: block;
		}
	}
	.nav {
		display: none;
	}
	.main {
		text-align: center;
		h1 {
			font-size: 36px;
			line-height: 1.5;
		}
		img {
			margin: 1.5rem 0;
		}
	.btn {
			position: absolute;
			bottom: -1.5rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.services {
		&-block {
			padding: 2rem;
			img {
				width: 329px;
			}
		}
		p {
			display: block;
			margin: 0 auto;
			width: 50%;
		}
	}
	.about {
		height: 65rem;
		&-text {
			text-align: left;
			padding-bottom: 6rem;
		}
	}

	.numbers {
    	position: absolute;
   		bottom: 7%;
    	left: 50%;
		padding: 2rem;
		width: 21rem;
		&-item {
			border-left: none;

			p {

				padding-bottom: 0.5rem;
				border-bottom: 2px solid #468A39;
			}
		}
	}

	.works {
		h2 {
			margin-left: 0;
			margin-top: 5rem;
		}
		&-block--2 {
			margin-top: 0;
		}
		&-block {

		text-align: center;
		margin: 0 auto;
		h3, p {
			text-align: left;
			padding-left: 20%;
		}
		p {
			width: 70%;
		}
	}
	
}	

	.contacts {
		&-block {
			p {
				min-height: 0;
				margin-bottom: 3rem;
			}
			button {
				bottom: -15%;
			}
		}
	}

	.footer {
		&-item {
			display: inline-block;
		}
		&-dev {
			p {
				padding: 1rem 0;
			}
		}
		
	}
}

@media (max-width: 772px) {
	.main {
		padding: 0;
		img {
			display: none;
		}
		.btn {
			bottom: -40px;
		}
	}
	.services {
		p {
			width: auto;
		}
	}
	.about {
		height: 72rem;
		&-text {
			padding: 1rem;
		}
	}
	.numbers {
		bottom: 5%;
	}
	.works {
		&-block {
			h3, p {
				text-align: left;
				padding-left: 10%;
			}
			p {
			width: 80%;
			}
		}
		img {
			width: 300px;
		}
	}
}

@media (max-width: 470px) {
	.about {
		height: 78rem;
		&-text {
			padding: 1rem;
		}
	}
	.numbers {
		width: 20rem;
		bottom: 5%;
	}
	.works {
		&-block {
			h3, p {
				padding-left: 0;
			}
		}
	}
}

@media (max-width: 447px) {
	.about {
		height: 85rem;
		&-text {
			padding: 1rem;
			width: 100%;
		}
	}
	.numbers {
		bottom: 8%;
	}
}

@media (max-width: 400px) {
	.services {
		&-block {
			img {
				width: 260px;
			}
		}
	}
	.about {
		height: 93rem;
		&-text {
			padding: 2rem;
			text-align: center;
		}
	}
	.numbers {
		bottom: 5%;
	}
}

@media (max-width: 380px) {
	.about {
		height: 98rem;
		&-text {
			padding: 1rem;
		}
	}
	.numbers {
		width: 18rem;
		bottom: 3%;
	}
	.works {
		img {
			width: 280px;
		}
	}
}